**/npm-debug.log
**/yarn-error.log
**/.idea/
**/.DS_Store
**/.DS_Store.gz
*.sw*
*.un~
**/node_modules/
**/.umi
./vscode
backend/coverage/
backend/logs/
backend/run/
backend/app/assets/.temp
backend/reports/*.pdf
backend/app/temp
frontend/dist
frontend/.temp/
