.comment_container {
  .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .comment_list {
    > ul {
      > li {
        display: flex;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        > img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          margin-right: 14px;
        }
        .details {
          flex: 1;
          .info {
            position: relative;
            margin-bottom: 10px;
            padding-bottom: 10px;
            > span {
              color: #01aaed;
            }
            .desc {
              margin: 8px 0;
            }
            .data {
              span {
                margin-right: 10px;
              }
              span:last-child {
                color: #009688;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
