@import "../../assets/css/default.scss";

// 公共样式抽取
.a {
  a {
    @extend .center;
    position: relative;
    width: 86px;
    height: 40px;
    &.active {
      color: $themeColor;
      &::after {
        width: 78px;
      }
    }
    &:hover {
      &::after {
        width: 78px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 4px;
      width: 0;
      height: 2px;
      background-color: $themeColor;
      transition: 0.5s all ease-in-out;
    }
  }
}

.globalHeader {
  display: flex;
  justify-content: space-between;
  height: 100%;
  h1 {
    @extend .center;
    background-color: #fff;
    margin: 0;
  }
  .navbar {
    @extend .center;
  }
}

.navigations_horizontal {
  display: flex;
  margin: 0;
  li {
    @extend .a;
  }
}

.navigations_vertical {
  flex-direction: column;
  align-items: flex-end;
  li {
    margin-bottom: 20px;
    @extend .a;
  }
}
