@import "../../assets/css/default.scss";

.footer {
  .backgroundContainer {
    height: 200px;
    background: url("../../assets/images/footer.png");
  }
  .container {
    display: flex;
    background: #232328;
    color: rgba(255, 255, 255, 0.8);
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.333333%;
      height: 300px;
      .item {
        width: 210px;
        h3 {
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          margin-bottom: 20px;
        }
        ul {
          li {
            margin-bottom: 10px;
          }
        }
      }
      .intro {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    background: #1d1d21;
    color: #bbb;
    line-height: 40px;
    font-size: 12px;
  }
}
